{% extends "base.html" %}
{% load static %}
{% block content %}
    <div>
        <h3 class="text-center font-bold">Your Photo Gallery</h3>

        <div class="gallery_box">
            <!--<img src="{% static "pointless/img/thumbs/ait.gif" %}"/>
            <img src="{% static "pointless/img/thumbs/blackhawk.jpg" %}"/>
            <img src="{% static "pointless/img/thumbs/kevlar.gif" %}"/>
            <img src="{% static "pointless/img/thumbs/mre.jpg" %}"/>
            <img src="{% static "pointless/img/thumbs/slingload.jpg" %}"/>
            <img src="{% static "pointless/img/thumbs/nashville.jpg" %}"/>
            <img src="{% static "pointless/img/thumbs/ph1.jpg" %}"/>
            <img src="{% static "pointless/img/thumbs/ph2.jpg" %}"/>
            <img src="{% static "pointless/img/thumbs/ph3.jpg" %}"/>
            <img src="{% static "pointless/img/thumbs/selfie.jpg" %}"/>-->
            Real photos of you here!
        </div>
</div>
{% endblock %}
