{% extends "base.html" %}
{% load static %}
{% block content %}

    <div class="col col-8 left_col">
        <h3 class="text-center font-bold">Your PointLess Profile</h3>

        <div class="bio_box">
            <h4 class="font-bold text-center">Bio</h4>
            {% comment %}
            <img src="{% static "pointless/img/thumbs/profile.png" %}">
            {% endcomment %}
            <p>
                Some info about you would be here if this was a real site that actually mattered.
            </p>
        </div>
    </div>
    
    <div class="col col-4 font-bold right_col">
        <h3 class="text-center font-bold">Favorites</h3>
        <div>Music: <span>Some Kind</span></div>
        <div>Programming Languages: <span>All of Them</span></div>
        <div>Hobbies: <span>Basket Weaving</span></div>
    </div>

    <div class="col col-4 font-bold right_col">
        <h3 class="text-center font-bold">Your Links</h3>
        <ul>
            <li><a href="{% url 'gallery' %}">Photo Gallery</a></li>
        </ul>
    </div>
{% endblock %}
