<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>DSAuth</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link th:href="@{~/style.css}" rel="stylesheet" />
</head>
<body>
	<header th:replace="fragments/header :: header">
	</header>
<h2>Welcome</h2>
	<ul>
		<li><a href="http://ds.transvec.com/">Provider site</a></li>
		<li><a href="http://ds.transvec.com/doc">Provider Docs</a></li>
		<li><a href="http://dsclient.transvec.com/">Test Client</a></li>
		<li><a href="https://github.com/brollins90/dsOauth">Github</a></li>
	</ul>
</body>
</html>