<html>
<title>SimpleAM Login</title>


<body>

<div class="login-container">
    <form method="POST" enctype="utf8" action="login" name="myForm">

        <div class="form-group"><input type="text" name="redirect_uri" value="http://localhost:5000/login/oauthcallback"/></div>
        <div class="form-group">
            <label class="col-sm-2 control-label">Username</label>

            <div class="col-sm-9">
                <input class="form-control" type="test" name="username" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label">Password</label>

            <div class="col-sm-9">
                <input class="form-control" type="password" name="password" />
            </div>
        </div>

        <button type="submit" class="btn btn-info">
            <span class="glyphicon glyphicon-log-in gly-margin"></span>
            Login
        </button>

    </form>

</div>
</body>
</html>